.nav-link{
    color:white !important;

}
.nav-link:hover{
    color:rgb(30, 117, 151) !important;
    border-radius: 10px;
    
}
.navbar-brand{
    color: white !important;
}

hr.rounded{
    border-top: 8px solid lightblue ;
    border-radius: 5px !important;

}
.mydivstyle:hover{
        box-shadow: 0 0 20px 0;
        color: lightcoral;
        transform: translateY(-20px);
    }